:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    color:gray;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content-left {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content-right{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Style cho các mục trong dropdown */
  .dropdown-content a, .dropdown-content-right a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }



  /* Hover effect cho mục trong dropdown */
  .dropdown-content a:hover, .dropdown-content-right a:hover {
    background-color: #ddd;
  }

  /* Hiển thị dropdown-content khi hover vào dropdown-btn */
  .dropdown:hover .dropdown-content,  .dropdown:hover .dropdown-content-right {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    cursor: pointer;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px; 
} 
 


